<div class="header">
  <h1>Boeken buur!</h1>
</div>

<div class="jumbotron">
<div class="canvas-all">
  <p class="info">
    Scan hieronder uw ISBN-code of voer uw code rechtstreeks in in het zoekvak.
  </p>
  <canvas id="videoCanvas" width="320" height="240"></canvas>
  <div class="buttons">
    <button class="decode" onclick="Decode()">Start decoding</button>
    <button class="stopDecode" onclick="StopDecode()">Stop decoding</button>
  </div>
</div>

<section class="searchline">
  <form role="form">
    <div class="form-group">
      <label>ISBN nummer: </label>
      <div class="input-group">
      <input ng-model="isbnWaarde" id="search" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button ng-click="zoek()" class="btn btn-default" type="button">Go!</button>
      </span>
       </div><!-- /input-group -->
    </div>
  </form>
</section>
</div>
    <script src="scripts/JOB.js"></script>
    <script src="scripts/isbn.js" ></script>
