<h1>Boeken buur!</h1>
  <div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary">
          <p class="left-text">Vorige boekbuur</p></button>
        <p class="tit1">City of flowers</p>
        <p class="aut1">Hoffman, Mary</p>
        <img class="left-img" ng-model="isbn='9780747595717'" ng-src="http://webservices.bibliotheek.be/index.php?func=cover&ISBN={{isbn}}&VLACCnr=8841686&coversize=large"/>
      </div>
    <div class="col-md-6">
        <p class="middle-text"> Huidig boek</p>
        <p class="tit2">Harry Potter and the deathly hallows</p>
        <p class="aut2">Rowling, J.K.</p>
        <a class = "img1"> <img class="middle-img" ng-model="isbn='9780747595823'" ng-src="http://webservices.bibliotheek.be/index.php?func=cover&ISBN={{isbn}}&VLACCnr=8841686&coversize=large"/> </a>
      </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary">
          <p class="right-text">Volgende boekbuur</p></button>
        <p class="tit3">The outlander</p>
        <p class="aut3">Adamson, Gil</p>
        <img class="right-img" ng-model="isbn='9780747595922'" ng-src="http://webservices.bibliotheek.be/index.php?func=cover&ISBN={{isbn}}&VLACCnr=8841686&coversize=large"/>
      </div>
  </div>
